<section class="row form">
    <form class="col-12 col-lg-8 needs-validation _ajax_create_order" novalidate>
        <div class="row">
            <div class="col-sm-6 mb-3">
                <input type="text" class="form-control" name="name" placeholder="Имя" aria-label="Input first name" required>
                <div class="invalid-feedback">
                    {{ 'Пожалуйста, введите свое имя'|_ }}
                </div>
            </div>
            <div class="col-sm-6 mb-3">
                <input type="text" class="form-control" name="last_name" placeholder="Фамилия" aria-label="Input last name" required>
                <div class="invalid-feedback">
                    {{ 'Пожалуйста, введите свою фамилию'|_ }}
                </div>
            </div>
        </div>
        <div class="form-group mb-3">
            <label class="sr-only" for="inlineFormInputGroup">{{ 'Почта'|_ }}</label>
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text">@</div>
                </div>
                <input type="text" class="form-control" id="inlineFormInputGroup" name="email" placeholder="Email" required>
                <div class="invalid-feedback">
                    {{ 'Пожалуйста, введите свою почту'|_ }}
                </div>
            </div>
        </div>
        <hr>

        {% set obShippingTypeList = ShippingTypeList.make().sort().active() %}
        {% if obShippingTypeList.isNotEmpty() %}
            <fieldset class="form-group">
                {% for obShippingType in obShippingTypeList %}
                    <div class="form-check{% if not loop.first %} mt-2{% endif %}">
                        <input class="form-check-input" type="radio" name="shipping_type_id" id="sipping-type-{{ obShippingType.id }}" value="{{ obShippingType.id }}" required {% if loop.first %}checked{% endif %}>
                        <label class="form-check-label" for="sipping-type-{{ obShippingType.id }}">
                            {{ obShippingType.name }} - {{ obShippingType.price }} {{ obShippingType.currency }}
                        </label>
                    </div>
                {% endfor %}
            </fieldset>
            <hr>
        {% endif %}
        {% set obPaymentMethodList = PaymentMethodList.make().sort().active() %}
        {% if obPaymentMethodList.isNotEmpty() %}
            <fieldset class="form-group">
                {% for obPaymentMethod in obPaymentMethodList %}
                    <div class="form-check{% if not loop.first %} mt-2{% endif %}">
                        <input class="form-check-input" type="radio" name="payment_method_id" id="payment-method-{{ obPaymentMethod.id }}" value="{{ obPaymentMethod.id }}" required {% if loop.first %}checked{% endif %}>
                        <label class="form-check-label" for="payment-method-{{ obPaymentMethod.id }}">
                            {{ obPaymentMethod.name }}
                        </label>
                    </div>
                {% endfor %}
            </fieldset>
        {% endif %}
        <div class="form-group">
            <button type="submit" class="btn btn-dark text-uppercase _create_order_button" data-container="body" data-toggle="popover" data-placement="top" data-content="">{{ 'Оформить заказ'|_ }}</button>
        </div>
    </form>
</section>
