[blogPosts]
pageNumber = "{{ :page }}"
categoryFilter = "bilety"
postsPerPage = 3
noPostsMessage = "Билетов не найдено"
sortOrder = "published_at desc"
categoryPage = "home"
postPage = "event"
==
{% set posts = blogPosts.posts %}

<div class="blog">
<!-- Перебор мерроприятий из бд -->
    {% for post in posts %}
    <div class="blog__item">
        <div class="blog__header">
            <a href="{{ post.url }}">
                <!-- Картинка -->
                {% for image in post.featured_images|slice(0, 1) %}
                    <img class="blog__photo" src="{{ image.path }}" width="200" alt="{{ post.title }}">
                {% endfor %}
            </a>
        </div>
        <div class="blog__content">
            <div class="blog__title">
                <!-- Название мерроприятия -->
                <a href="{{ post.url }}">{{ post.title }}</a>
            </div>
            <!-- Краткая информация -->
            <div class="blog__text">{{ post.excerpt }}</div>
        </div>
        
    </div>
    {% endfor %}

</div><!-- /.blog -->